@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
background-color : #f2f2f2
  }
  
  .container {
    width: 70%;
    background-color: #ffffff;
    margin: auto;
    /* border: 2px solid rgb(19, 18, 18); */
    margin-top: 4rem;
    border-radius: 10px;
    padding: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .head{
    font-family: 'Montserrat', sans-serif;
    margin-top: 3rem;
  }
  
  
  .answer {
    font-family: 'Raleway', sans-serif;
  }
  
