@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    margin: 0;
    padding: 0;
    

  }
  h1 {
    color: #333;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
  }
  hr{
    margin-bottom: 20px;
    margin-top: 3px;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 100px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .container:hover{
    box-shadow: -1px 0px 5px 0px rgba(128, 128, 128, 0.634);
  }
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 2px solid #dddbdb;
    border-radius: 5px;
    box-shadow: 5px 1px 5px 0px #dddbdb;
    font-family: 'Raleway', sans-serif;
  }

  input[type="text"]:focus {
    box-shadow: 0px 0px 2px rgba(172, 172, 172, 0.705);
    border: 0px;
  }
  input[type="password"]:focus {
    box-shadow: 0px 0px 2px rgba(172, 172, 172, 0.705);
    border: 0px;
  }
  input[type="submit"] {
    background-color: #0077c9;
    color: #fff;
    padding: 10px 20px;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    /* width: 50%; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  }
  label {
    display: block;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
  }
  nav {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav a {
    color: #fff;
    margin-right: 20px;
  }
  a.forgot-password {
    color: #333;
    margin-top: 20px;
    display: block;
  }